body {
  padding: 0;
  margin: 0;
  border: 0;
}

i.fas {
  padding: 0 2px;
}

.editForm {
  display: none;
  padding: 2vh;
  margin-top: 25vh;
  border-radius: 40px;
}

#loginDiv {
  padding: 3vh;
  margin-top: 8vh;
}

#form {
  margin: 1vh 0;
}

#tagFormDiv {
  background-color: powderblue;
  border: outset 12px steelblue;
}

#bmFormDiv {
  background-color: mistyrose;
  border: outset 12px lightcoral;
}

#collectFormDiv {
  background-color: lightgreen;
  border: outset 12px seagreen;
}

/* Media Queries Averages found Online*/
/* Iphone */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}
/* Iphone Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
/* Ipad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}
/* Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
/* Galaxy Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
}
/* Galaxy Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
}
/* Laptop w/ Retina Screen */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
/* Laptop w/ Non-Retina Screen */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
