body {
  padding: 0;
  margin: 0;
  border: 0;
}

i.fas {
  padding: 0 2px;
}

.editForm {
  display: none;
  padding: 2vh;
  margin-top: 25vh;
  border-radius: 40px;
}

#loginDiv {
  padding: 3vh;
  margin-top: 8vh;
}

#form {
  margin: 1vh 0;
}

#tagFormDiv {
  background-color: powderblue;
  border: outset 12px steelblue;
}

#bmFormDiv {
  background-color: mistyrose;
  border: outset 12px lightcoral;
}

#collectFormDiv {
  background-color: lightgreen;
  border: outset 12px seagreen;
}